body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black; 
    color: #d1d5db; 
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.tech-tag {
    background-color: #000; 
    color: #ffffff;
    border: 1px solid #000;; 
}


.bg-primary {
    background-color:#000; 
}

.text-primary {
    color: lightskyblue;;
}

.text-secondary {
    color: #10b981;
}

.border-primary {
    border-color: purple;;
}

.hover-bg-primary:hover {
    background-color: #000;;
}

.hover-bg-secondary:hover {
    background-color: #000;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video stretches to cover the entire viewport */
}
.overlay-text {
    position: absolute;
    top: 50%; /* Center the header vertically */
    left: 50%; /* Center the header horizontally */
    transform: translate(-50%, -50%);
    color: #fff; /* Text color */
    font-size: 3rem;
    padding: 20px;
    background-color: #000; /* Solid background color (black in this case) */
    border-radius: 10px; /* Optional rounded corners */
    text-align: center;
}